@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}



#cv-container{
    width: 100%;
    height: 200vh;
    display: flex;
    font-family: 'Raleway', sans-serif;
}

.icons{
    width: 15px;
    height: 15px;
}

.profile{
    width: 150px;
    margin-top: 10%;
}

.left{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4%;
    background: #FED8B7;
    color: #777777;
}

.left h3{
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 10px;
}

.article-left{
    width: 90%;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.article-left div{
    width: 90%;
    display: flex   ;
    gap: 5px;
}
.article-left div a{
    text-decoration: none;
    color: #777777;
}
.language-tech{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
}
.languages{
    width: 90%;
}

.right{
    width: 75%;
    padding: 5% 0% 0% 5%;
    display: flex;
    flex-direction: column;
    gap: 4%;
}

.title{
    width: 90%;
}
.title h1{
    font-size: 25px;
}
.title h2{
    color: #71C3A8;
    font-weight: 400;
    width: 90%;
    font-size: 22px;
}
.title P{
 margin-top: 1%;
}

.green{
    font-weight: 700;
    font-size: 17px;
    color: #71C3A8;
}

.right h2, .right h1{
    font-weight: 500;
    font-size: 25px;
}

.right h4{
    font-weight: 700;
}

.flex-column{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
}

.flex-column article{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
}

.footer{
    width: 90%;
    display: flex;
    gap: 15px;
}
.atouts, .ci{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 90%;
}

.bar-container{
    width: 70%;
    height: 8px;
    background-color: rgba(119, 119, 119, 0.21);;
    border-radius: 50px;
    overflow: hidden;
}

 .progress{
    height: 100%;
    background: #777777;
    border-radius: 50px;
}
.bar1{
    width: 85%;
}
.bar2{
    width: 75%;
}
.bar3{
    width: 75%;
}
.bar4{
    width: 20%;
}
.bar5{
    width: 20%;
}
.bar6{
    width: 20%;
}
.bar7{
    width: 100%;
}